

body    {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: "Arial", sans-serif;
}

#logo   {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;

}

.links  {
    display: flex;
    flex-direction: row;
    gap: 24px;

}
.navbar {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    padding: 16px;
    align-items: center;
    justify-content: space-around;
}

.navbar a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.navbar a:hover {
    color: #3882F6;
}

.hero-section   {
    display: flex;
    background-color: #1F2937;
    place-content: center;
}

.left-section   {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 64px 128px;
    gap: 32px;
}

#hero-title {
    display: flex;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

#hero-text  {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
}

#sign-up-button button  {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 32px;
    border-radius: 12px;
}

#sign-up-button button:hover    {
    background-color: navy;
    color: #F9FAF8;
}

#sign-up-button button:active    {
    background-color: red;
    color: #F9FAF8;
}
.right-section {
    display: flex;
    flex-direction: column;
    place-content: center;
}

#hero-image img {
    width:400px;
    height:200px;
}

.info-section   {
    display:flex;
    flex-direction: column;
    margin: 32px;

}

#info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin: 32px;
}

.info-container {
    display: flex;
    gap: 50px;
    justify-content: center;

}

.info-caption   {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#info-image img {
    width: 150px;
    height: 150px;
    border: 5px solid #3882F6;
    border-radius:20px;
}

#info-text  {
    text-align: center;
}

.quote-section  {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 50px;

}

#quote-text {
    font-size: 36px;
    font-style: light;
    font-style: italic;
    align-self: center;
    margin: 16px;
    width: 50%

}

#quote-source  {
    text-align: right;
    font-weight: bold;
    width: 75%;
}